<%- include ('../includes/header.ejs') %>

<div class="login-clean">
    <% if (errorMessage){ %>
        <div class="error-message alert alert-danger">
            <p><%= errorMessage %></p>
        </div>
    <% } %>
    <% if (successMessage){ %>
        <div class="alert alert-success">
            <p><%= successMessage %></p>
        </div>
    <% } %>
    <form action="/login" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <img src="/img/login.svg" alt="" style="display: block; margin: auto; width: 100%;">
        <div class="form-group mt-4">
            <input class="form-control <%= errors.find(e => e.param === 'email') ? 'invalid' : '' %>" type="email" name="email" placeholder="Email" value="<%= placeholder %>" value="<%= placeholder %>" required>
        </div>
        <div class="form-group">
            <input class="form-control <%= errors.find(e => e.param === 'password') ? 'invalid' : '' %>" type="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <button class="btn btn-info btn-block" type="submit">Log In</button>
        </div>
        <p>Didn't have account yet ? <a href="/register">Register</a></p>
        <a class="forgot" href="/reset">Forgot your email or password?</a>
    </form>
</div>
<%- include ('../includes/footer.ejs') %>