<%- include ('../includes/header.ejs') %>

<div class="container-fluid dimmed-bg">
    <div class="container pt-4">
        <div class="row">
            <% if (errorMessage){ %>
                <div class="col alert alert-danger">
                    <p><%= errorMessage %></p>
                </div>
            <% } %>
        </div>
    </div>
    <div class="container pb-4 pt-4">
        <div class="row">
            <div class="col">
                <h2>Add Product</h2>
                <form class="form-container" method="POST" action="/admin/add-product" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" required>
                    <div class="form-group">
                        <label for="name">Product Name</label>
                        <input class="form-control" type="text" name="name" value="<%= placeholder.name %>" required>
                    </div>
                    <div class="form-group">
                        <label for="category">Product Category</label>
                        <input class="form-control" type="text" name="category" value="<%= placeholder.category%>" required>
                    </div>
                    <div class="form-group">
                        <label for="image">Image</label>
                        <input class="form-control-file bg-white" type="file" name="image">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input class="form-control <%= errors.find(e => e.param === 'description') ? 'invalid' : '' %>" type="text" name="description" value="<%= placeholder.description %>" required>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input class="form-control" type="number" name="price" value="<%= placeholder.price %>" required>
                    </div>
                    <button class="btn btn-primary" type="submit">Add New Product</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container pb-4">
        <div class="row">
            <div class="col">
                <h2>Edit Product</h2>
                <% if (hasProduct){ %>
                    <ul class="cart d-flex flex-wrap justify-content-start">
                        <% for (let product of products){ %>
                            <li class="card m-2" style="width: 18rem;">
                                <div class="img-card">
                                    <img width="250" height="250" class="card-img-top" src="/<%= product.image %>">
                                </div>
                                <hr>
                                <div class="card-body">
                                    <h4 class="cart-title"><%= product.name %></h4>
                                    <form class="form-container mb-2" method="POST" action="/admin/update-product">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" required>
                                        <div class="form-group">
                                            <label for="image">Change Image</label>
                                            <input class="form-control-file" type="file" name="image" required>
                                        </div>
                                        <input type="hidden" name="id" value="<%= product.id %>" required>
                                        <div class="form-group">
                                            <label for="name">Product Name</label>
                                            <input class="form-control" type="text" name="name" value="<%= product.name %>" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="category">Product Category</label>
                                            <input class="form-control" type="text" name="category" value="<%= product.category %>" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="description">Description</label>
                                            <input class="form-control" type="text" name="description" value="<%= product.description %>" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="price">Price</label>
                                            <input class="form-control" type="number" name="price" value="<%= product.price %>" required>
                                        </div>
                                        <button class="btn btn-primary btn-block" type="submit">Commit</button>
                                    </form>
                                    <form action="/admin/delete-product" method="POST">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" required>
                                        <input type="hidden" name="id" value="<%= product.id %>" required>
                                        <button class="btn btn-danger btn-block" type="submit">Delete</button>
                                    </form>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                <% } else { %>
                    <p>There is no products</p>
                <% } %>
            </div>
        </div>
    </div>
</div>

<%- include ('../includes/footer.ejs') %>