<%- include ('../includes/header.ejs') %>

<h1>Add Product</h1>
<form method="POST" action="/admin/add-product">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <label for="name">Product Name</label>
    <input type="text" name="name">
    <label for="category">Product Category</label>
    <input type="text" name="category">
    <label for="description">Description</label>
    <input type="text" name="description">
    <label for="price">Price</label>
    <input type="number" name="price">
    <button type="submit">Add New Product</button>
</form>
<h1>Edit Product</h1>
<% if (hasProduct){ %>
    <ul>
        <% for (let product of products){ %>
            <li>
                <span><%= product.name %></span>
                <form method="POST" action="/admin/update-product">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="id" value="<%= product.id %>">
                    <label for="name">Product Name</label>
                    <input type="text" name="name" value="<%= product.name %>">
                    <label for="category">Product Category</label>
                    <input type="text" name="category" value="<%= product.category %>">
                    <label for="description">Description</label>
                    <input type="text" name="description" value="<%= product.description %>">
                    <label for="price">Price</label>
                    <input type="number" name="price" value="<%= product.price %>">
                    <button type="submit">Commit</button>
                </form>
                <form action="/admin/delete-product" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="id" value="<%= product.id %>">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% } %>
    </ul>
<% } else { %>
    <p>There is no products</p>
<% } %>

<%- include ('../includes/footer.ejs') %>