<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="header">
        <h1><a href="/">Nusantaran JS</a></h1>
        <nav>
            <ul>
                <li><a href="/products" class="<%= path === '/products' ? 'active' : '' %>">Shop</a></>
                <% if (isAuthenticated){ %>
                    <li><a href="/cart" class="<%= path === '/cart' ? 'active' : '' %>">Cart</a></li>
                    <li><a href="/checkout" class="<%= path === '/checkout' ? 'active' : '' %>">Checkout</a></li>
                    <li><a href="/admin/product" class="<%= path === '/product' ? 'active' : '' %>">WP Admin</a></li>
                <% } %>
                <li><a href="/register" class="<%= path === '/register' ? 'active' : '' %>">Register</a></li>
                <li><a href="/login" class="<%= path === '/login' ? 'active' : '' %>">Login</a></li>
                <% if (isAuthenticated) { %>
                    <li>
                        <form action="/logout" method="POST">
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                <% } %>
            </ul>
        </nav>
    </header>