<%- include ('../includes/header.ejs') %>

<div class="login-clean">
    <% if (errorMessage){ %>
        <div class="alert alert-danger">
            <p><%= errorMessage %></p>
        </div>
    <% } %>
    <% if (error) { %>
        <div class="alert alert-danger">
            <p><%= error %></p>
        </div>
    <% } else { %>
        <form action="/newpassword" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <h2>Set New Password</h2>
            <div class="form-group mt-4">
                <input class="form-control <%= errors.find(e => e.param === 'password') ? 'invalid' : '' %>" type="password" name="password" placeholder="New Password" required>
            </div>
            <div class="form-group mt-4">
                <input class="form-control <%= errors.find(e => e.param === 'password-repeat') ? 'invalid' : '' %>" type="password" name="password-repeat" placeholder="Repeat New Password" required>
            </div>
            <div class="form-group">
                <input type="hidden" value="<%= email %>" name="email">
                <input type="hidden" value="<%= token %>" name="token">
                <button class="btn btn-info btn-block" type="submit">Set Password</button>
            </div>
        </form>
    <% } %>
</div>

<%- include ('../includes/footer.ejs') %>