<%- include ('../includes/header.ejs') %>

<h1>Cart</h1>
<% if (hasProduct){ %>
    <ul>
        <% for (let product of products){ %>
            <li><%= product.name %> | Rp.<%= product.price %> x<%= product.qty %> = Rp.<%= product.price * product.qty %></li>
            <form method="POST" action="/cart-delete">
                <input type="hidden" name="id" value="<%= product.id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit">Remove from cart</button>
            </form>
            <form method="POST" action="cart-update">
                <input type="hidden" name="id" value="<%= product.id %>">
                <input type="hidden" name="qty" value="<%= product.qty - 1 %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit">-1 qty</button>
            </form>
            <form method="POST" action="cart-update">
                <input type="hidden" name="id" value="<%= product.id %>">
                <input type="hidden" name="qty" value="<%= product.qty + 1 %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit">+1 qty</button>
            </form>
            <form method="POST" action="cart-update">
                <input type="hidden" name="id" value="<%= product.id %>">
                <input type="number" name="qty" min="1" value="<%= product.qty %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit">Set qty</button>
            </form>
        <% } %>
    </ul>
    <p>Total Price : Rp.<%= totalPrice %></p>
    <button><a href="/checkout">Checkout</a></button>
<% } else { %>
    <p>Cart is empty</p>
<% } %>

<%- include ('../includes/footer.ejs') %>