<%- include ('../includes/header.ejs') %>

<div class="container-fluid dimmed-bg">
    <div class="container pt-4">
        <div class="row">
            <div class="col">
                <h5>Available Products</h5>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <% if (hasProduct) { %>
                    <% if (!isAuthenticated) { %>
                        <p class="mt-4 alert alert-warning">You must have account to adding product to cart</p>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
    <div class="container pb-4 d-flex flex-wrap justify-content-center justify-content-md-start">
        <% if (hasProduct){ %>
            <% for (let product of products){ %>
                <div class="card m-2 pointer" style="width: 12rem;" onclick="location.href='products/<%= product.id %>';">
                    <div class="img-card">
                        <img class="card-img-top img-card" src="/<%= product.image %>">
                    </div>
                    <div class="card-body text-center pt-2">
                        <p class="card-title text-center mb-0"><strong><%= product.name %></strong></p>
                        <p class="card-text text-center mb-0"><%= product.category %></p>
                        <p><strong class="text-muted card-subtitle text-center">Rp.<%= product.price %></strong></p>
                    </div>
                    <% if (isAuthenticated) { %>
                        <div class="card-body mb-2">
                            <form method="POST" action="/cart">
                                <input type="hidden" name="productID" value="<%= product.id %>">
                                <input type="hidden" name="productPrice" value="<%= product.price %>">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit" class="btn btn-block btn-outline-primary">Add to Cart</button>
                            </form>
                        </div>
                    <% } %>
                </div>
            <% } %>
            <% if (displayPage) { %>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-outline-info" href="/products?page=<%= limit.firstPage %>">First Page</a>
                            <% for( let i = 1; i <= totalPage; i++ ) { %>
                                <a class="btn btn-outline-info <%= page === i ? 'active' : '' %>" href="/products?page=<%= i %>"><%= i %></a>
                            <% } %>
                            <a class="btn btn-outline-info" href="/products?page=<%= limit.lastPage %>">Last Page</a>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <p>There is no products</p>
        <% } %>
    </div>
</div>

<script src="/js/card.js"></script>
<%- include ('../includes/footer.ejs') %>