<%- include ('../includes/header.ejs') %>

<h1>Product Detail</h1>
<p><strong><%= product.name %></strong></p>
<p>Rp.<%= product.price %></p>
<p><%= product.description %></p>
<% if (isAuthenticated) { %>
    <form method="POST" action="/cart">
        <input type="hidden" name="productID" value="<%= product.id %>">
        <input type="hidden" name="productPrice" value="<%= product.price %>">
        <input type="hidden" name="path" value="<%= path %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit">Add to Cart</button>
    </form>
<% } else { %>
    <p>You must have account to adding product to cart</p>
<% } %>

<%- include ('../includes/footer.ejs') %>