<%- include ('../includes/header.ejs') %>

<h1>Shop</h1>
<% if (hasProduct){ %>
    <ul>
        <% for (let product of products){ %>
            <li>
                <span><%= product.name %></span> - <span>Rp.<%= product.price %></span>
                <br>
                <span><a href="products/<%= product.id %>">Details</a></span>
                <% if (isAuthenticated) { %>
                    <form method="POST" action="/cart">
                        <input type="hidden" name="productID" value="<%= product.id %>">
                        <input type="hidden" name="productPrice" value="<%= product.price %>">
                        <input type="hidden" name="path" value="<%= path %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Add to Cart</button>
                    </form>
                <% } else { %>
                    <p>You must have account to adding product to cart</p>
                <% } %>
            </li>
        <% } %>
    </ul>
<% } else { %>
    <p>There is no products</p>
<% } %>

<%- include ('../includes/footer.ejs') %>