<%- include ('../includes/header.ejs') %>

<div class="container-fluid dimmed-bg">
    <div class="container pt-4">
        <div class="row">
            <div class="col">
                <h2>Available Products</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <% if (hasProduct) { %>
                    <% if (!isAuthenticated) { %>
                        <p class="mt-4 alert alert-warning">You must have account to adding product to cart</p>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
    <div class="container pb-4 d-flex flex-wrap justify-content-start">
        <% if (hasProduct){ %>
            <% for (let product of products){ %>
                <div class="card m-2" style="width: 18rem;">
                    <div class="img-card mt-3">
                        <img width="250" height="250" class="card-img-top" src="/<%= product.image %>">
                    </div>
                    <div class="card-body text-center pt-2">
                        <h5 class="card-title text-center"><%= product.name %></h5>
                        <strong class="text-muted card-subtitle mb-2 text-center">Rp.<%= product.price %></strong>
                        <span class="card-text text-center">- <%= product.category %></span>
                        <div class="row mt-2">
                            <div class="col">
                                <a class="btn btn-outline-info" href="products/<%= product.id %>">Lihat Detail</a>
                            </div>
                            <% if (isAuthenticated) { %>
                                <div class="col">
                                    <form method="POST" action="/cart">
                                        <input type="hidden" name="productID" value="<%= product.id %>">
                                        <input type="hidden" name="productPrice" value="<%= product.price %>">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button type="submit" class="btn btn-info">Add to Cart</button>
                                    </form>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
            <% if (displayPage) { %>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-outline-info" href="/products?page=<%= limit.firstPage %>">First Page</a>
                            <% for( let i = 1; i <= totalPage; i++ ) { %>
                                <a class="btn btn-outline-info <%= page === i ? 'active' : '' %>" href="/products?page=<%= i %>"><%= i %></a>
                            <% } %>
                            <a class="btn btn-outline-info" href="/products?page=<%= limit.lastPage %>">Last Page</a>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <p>There is no products</p>
        <% } %>
    </div>
</div>

<%- include ('../includes/footer.ejs') %>