<%- include ('../includes/header.ejs') %>

<h1>Product Detail</h1>
<p><strong><%= product.name %></strong></p>
<p>Rp.<%= product.price %></p>
<p><%= product.description %></p>
<button>Add to cart</button>

<%- include ('../includes/footer.ejs') %>