<%- include ('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/product.css">

<div class="dimmed-bg pt-4 pb-5">
    <div class="container">
        <div class="row font-14">
            <p><a href="/" class="text-muted">Home</a>-</p>
            <p><a href="/products" class="text-muted">Products</a>-</p>
            <p><strong><%= product.category %></strong></p>
        </div>
        <div class="row bg-white p-3 shadow rounded">
            <div class="col">
                <img class="img-fluid" src="/<%= product.image %>"></div>
            <div class="col">
                <h6 class="text-primary text-uppercase"><%= product.category %></h6>
                <h2><%= product.name %></h2>
                <h5>Rp. <%= product.price %></h5>
                <% if (isAuthenticated) { %>
                    <div class="d-flex justify-content-start">
                        <div>
                            <button class="btn btn-outline-secondary">WISHLIST</button>
                        </div>
                        <div class="mr-2"></div>
                        <form method="POST" action="/cart">
                            <input type="hidden" name="productID" value="<%= product.id %>">
                            <input type="hidden" name="productPrice" value="<%= product.price %>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit">ADD TO CART</button>
                            </div>
                        </form>
                    </div>
                <% } else { %>
                    <p class="alert alert-warning">You must have account to adding product to cart</p>
                <% } %>
                <hr>
                <h6 class="text-muted">PRODUCT DETAILS</h6>
                <p><%= product.description %></p>
            </div>
        </div>
    </div>
</div>

<%- include ('../includes/footer.ejs') %>