<%- include ('../includes/header.ejs') %>

<h1>Shop</h1>
<% if (hasProduct){ %>
    <ul>
        <% for (let product of products){ %>
            <li><span><%= product.name %></span> - <span>Rp.<%= product.price %></span> - <span><a href="products/<%= product.id %>">Details</a></span> - <span><a href="">Add to Cart</a></span></li>
        <% } %>
    </ul>
<% } else { %>
    <p>There is no products</p>
<% } %>

<%- include ('../includes/footer.ejs') %>